.root {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: #ffffff;
}

.button {
    -fx-background-color: #3c3f41;
    -fx-text-fill: #ffffff;
}

.left_but {
    -fx-background-color: #575656;
}
.anchor-pane {
    -fx-background-color: #2b2b2b;
}

.mainContent_pane {
    -fx-background-color: #64805b;
}
.resultBookShow {
    -fx-border-color: #64805b;
    -fx-border-width: 2px 2px 2px 2px;
}
.resultBookShow:hover {
    -fx-border-color: #000000;
    -fx-cursor: hand;
}
.resultBox {
    -fx-background-radius: 30; /* Bo góc nền */
    -fx-border-radius: 30;    /* Bo góc viền (nếu có) */
    -fx-effect: dropshadow(gaussian, #39FF14, 15, 0.5, 0, 0);
    -fx-border-width: 3;      /* Độ dày viền */
    -fx-padding: 10;
    -fx-background-color:  #595858;
}

.resultBox .scroll-bar {
    -fx-opacity: 0; /* Làm ẩn scrollbar */
}

.splitPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.suggest {
    -fx-border-color: #a19e9b; /* Màu viền (nếu muốn) */
    -fx-border-width: 0px 4px 4px 4px;      /* Độ dày viền */
    -fx-padding: 10;
}
/* Dark mode style for text-field */
.text-field {
    -fx-font-size: 14px;
    -fx-background-color: #2b2b2b; /* Dark background for dark mode */
    -fx-border-color: #444444;    /* Dark border color */
    -fx-border-radius: 5px;       /* Rounded corners */
    -fx-padding: 5px;
    -fx-text-fill: #ffffff;       /* White text for contrast */
}

/* Focused state for the text-field */
.text-field:focused {
    -fx-text-fill: #ffffff;
    -fx-background-color: #3b3b3b; /* Slightly lighter dark background when focused */
}

/* Apply dark background and white text */
.text-area {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-border-color: transparent; /* Optional: removes the border */
}

.ButtonPane {
    -fx-background-color: #000000; /* Màu nền trắng */
    -fx-text-fill: #ffffff; /* Màu chữ đen */
    -fx-border-radius: 30; /* Bo tròn các góc của button */
    -fx-background-radius: 30; /* Bo tròn nền button */
    -fx-padding: 10 20; /* Đệm bên trong để tăng kích thước button */
    -fx-cursor: hand;
    -fx-border-color: #23ff00;
    -fx-border-width: 3;
}

.ButtonPane:hover {
    -fx-scale-x: 1.2; /* Phóng to button theo chiều ngang */
    -fx-scale-y: 1.2; /* Phóng to button theo chiều dọc */
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-border-color: #000000;
}